.notfound-page-header {
    text-align: center;
}

.notfound-title {
    font-weight: 600;
    font-size: 3rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.notfound-link {
    background-color: #656D4A;
    padding: 0.5rem;
    color: white;
    border-radius: 1rem;
    border-color: #414833;
}