.todo-task {
    background-color: #A4AC86;
    margin-top: 2rem;
    border-radius: 0.5rem;
    
    li{
        margin-bottom: 1rem;
    }
}

.todo-add {
    background-color: #414833;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}